@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Fira Sans;
}

body{
    background-color: blue;
}
  


.separator{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-btn{
   margin-bottom: 10px;
}

.bg-btn button{
    border-radius: 5px;
    padding: 10px;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* overflow: hidden; */
}


.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn button,#highscores-btn{
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 15px;
    background-color: black;
    color: gold;
    cursor: pointer;
}

#cpu-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

#card-deck{
    height: 200px;
    width: 150px;
  background-color: black;
    border-radius: 10px;
    border: solid goldenrod 5px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#first-cpu-card,#second-cpu-card{
    height: 200px;
    width: 150px;
  background-color: black;
    border-radius: 10px;
    border: solid gold 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card-deck-el,#first-cpu-card-el,#second-cpu-card-el{
    color: white;
    font-size: 25px;
}

#secondary-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#secondary-btn button{
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 15px;
    background-color: orangered;
    color: white;
    cursor: pointer;
}

#player-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
}

#first-player-card,#second-player-card{
    height: 200px;
    width: 150px;
  background-color: black;
    border-radius: 10px;
    border: solid gold 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#first-player-card-el,#second-player-card-el{
    color: white;
    font-size: 25px;
}

h2{
    color: rgb(252, 196, 55);
    text-decoration: underline;
}

#cpu-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cpu-sum,#cpu-extra-card{
    color: white;
    background-color: orange;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 10px;
}


#player-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#player-sum,#player-extra-card{
    color: white;
    background-color: orange;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 10px;
}

#player-cards h2 {
    color: white;
    border: solid 5px black;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 10px;
    margin-right: 50px;
    font-size: 35px;
}
.btn button:hover{
    background-color: gold;
    color: black;
    transition: .5s;
}

#highscores-btn:hover{
    background-color: gold;
    color: black;
    transition: .5s;
}

#secondary-btn button:hover{
    background-color: white;
    color: orangered;
    transition: .5s;
    top: 5px;
}